################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AirfieldXMLEditor/bin
/AirfieldXMLEditor/obj/Debug
/AirfieldXMLEditor/obj/Release
/AirfieldXMLEditor/test_data
